<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.CinemaMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Cinema">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cinema_id" jdbcType="INTEGER" property="cinemaId" />
    <result column="cinema_name" jdbcType="VARCHAR" property="cinemaName" />
    <result column="cinema_addr" jdbcType="VARCHAR" property="cinemaAddr" />
  </resultMap>
</mapper>